.floating-buttons {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
}

/* COMMON BUTTON STYLE */
.btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* WHATSAPP */
.whatsapp {
  background: #25D366;
}

/* CALL */
.call {
  background: #007bff;
}
.email{
  background: rgb(146, 90, 90);
}

/* HOVER EFFECT */
.btn:hover {
  transform: scale(1.1);
}